
.rowE {
    width: 100%;
    height: 50px;
    position: relative;
    padding: 10px 0;
}
.lunch {
    position: absolute;
    left: 20%;
    width: 20%;
    padding: 10px 0;
    text-align: center;
    margin: 0;
}

.container {
    position: absolute;
}

.time{
    position: absolute;
    left: 20%;
    width: 20%;
    background: #EBF9D1;
    font-size: 32px;
    padding: 10px 0;
}